:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  user-select: none;
}

canvas {
  height: 100vh;
  width: 100%;
}

.details {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.intro{
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px 60px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  text-align: center;
}

.details {
  z-index: 2;
  position: relative;
  transition:  opacity 1s ;
}

.details-hidden {
  opacity: 0;
  position: absolute;
  top: 0;
 left: 0;
 width: 20vw;
 z-index: 1;
 transition:  opacity 1s ;
}

.details:hover{
  opacity: 0;
  transition:  opacity 1s ;
}

.details:hover + .details-hidden,
.details:focus + .details-hidden {
  opacity: 1;
}

/*/ 
  /* Responsive: Adjust details and intro for small screens */
  @media (max-width: 650px) {

    .details-hidden {
      width: 88vw !important;
    }
  }

/*/
